Repository KimberleyEvans-Parker/Doto, pull requests merged in 2020-04, with the labels that each got.

#6 issue/2-Logic for Gamification system - Incrementing points
  doto-frontend/src/components/Points.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
Labels: enhancement

#14 Added a user stats modal with dummy data.
  doto-frontend/src/components/UserStats.css
  doto-frontend/src/components/UserStats.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  package.json
Labels: front end

#15 issue/13 Streak
  doto-frontend/src/components/Points.js
  doto-frontend/src/components/Streak.js
  doto-frontend/src/components/images/streak.png
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
Labels: back end, enhancement, front end
